# Production files that are temporary or private
/php-1.*/
/private
/scap/log
/wikiversions-*.php
/wikiversions.php
/wmf-config/config-cache/
/wmf-config/ExtensionMessages-*.php

# Beta Cluster
/docroot/wwwportal/portal-master
/php-master/
/portal-master/

# CI and local development
## Testing
/logs
/.phpunit.result.cache
/vendor
## Editors
/*~
/*.swp
/*.vscode/
/.idea/
/nbproject/private/
## Mac OS X
.DS_Store
# Python
*.pyc
/.tox
mediawiki_config.egg-info
__pycache__
