.svn
*~
AdminSettings.php
PrivateSettings.php
xrumer
mwblocker.log
wmf-config/ExtensionMessages-*.php
php-*
wikiversions.cdb
multiversion
wmf-config/*-setup.php
wmf-config/checkers.php
lib
cgi-bin

# Old images such as the ones used for $wgLogo
/images/*.gif
/images/*.png
/images/*.xcf

fonts
boardvote.gpg
common
google*
slot*

/logs
