.svn
*~
AdminSettings.php
PrivateSettings.php
xrumer
mwblocker.log
wmf-config/ExtensionMessages-*.php
php-*
wikiversions.cdb
multiversion
wmf-config/*-setup.php
wmf-config/checkers.php
lib
cgi-bin
images
fonts
boardvote.gpg
common
google*
slot*
