[submodule "portals"]
	path = portals
	url = https://gerrit.wikimedia.org/r/wikimedia/portals/deploy
[submodule "lib/excimer-ui-client"]
	path = lib/excimer-ui-client
	url = https://gerrit.wikimedia.org/r/performance/excimer-ui-client
