<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./tests/bootstrap.php"
	backupGlobals="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertErrorsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	failOnWarning="true"
	failOnRisky="true"
	colors="true"
	verbose="true"

	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutTodoAnnotatedTests="true"
>
	<testsuites>
		<testsuite name="Tests">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<groups>
		<!-- Keep this even if unused, so that a test can be
		     easily marked as "@group Broken" -->
		<exclude>
			<group>Broken</group>
		</exclude>
	</groups>
</phpunit>
