<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap="./tests/bootstrap.php"
	backupGlobals="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertErrorsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	colors="true"
	verbose="true"

	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestSize="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	checkForUnintentionallyCoveredCode="true"
	disallowTodoAnnotatedTests="true"
>
	<testsuites>
		<testsuite name="dblists">
			<file>tests/dblistTest.php</file>
		</testsuite>
		<testsuite name="wmfconfig">
			<directory>tests/wmf-config</directory>
		</testsuite>
		<testsuite name="main">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<groups>
		<exclude>
			<group>Broken</group>
			<group>Disabled</group>
		</exclude>
	</groups>
</phpunit>
