[access "refs/*"]
	owner = group Administrators
	label-Code-Review = -2..+2 group ops
	label-Code-Review = -1..+1 group wmf
	label-Verified = -1..+1 group ops
	submit = group ops
	read = group Anonymous Users
	create = group ops
	create = group wmf
	push = group wmf
[project]
	description = Configuration for MediaWiki as deployed on the cluster.
	state = active
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
