[access "refs/*"]
	owner = group Administrators
	owner = group wmf-deployment
	label-Code-Review = -2..+2 group ops
	label-Code-Review = -2..+2 group wmf-deployment
	label-Verified = -1..+1 group JenkinsBot
	label-Verified = -1..+1 group ops
	label-Verified = -1..+1 group wmf-deployment
	submit = group ops
	submit = group wmf-deployment
	read = group Anonymous Users
	create = group ops
	create = group wmf-deployment
	forgeCommitter = group wmf-deployment
	pushMerge = group wmf-deployment
[project]
	description = Configuration for MediaWiki as deployed on the cluster.
	state = active
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
