[access "refs/*"]
	owner = group Administrators
	owner = group ldap/ops
	owner = group wmf-deployment
	submit = group JenkinsBot
	submit = group ldap/ops
	submit = group wmf-deployment
	read = group Anonymous Users
	create = group ldap/ops
	create = group wmf-deployment
	forgeCommitter = group wmf-deployment
	pushMerge = group wmf-deployment
[project]
	description = Configuration for MediaWiki as deployed on the cluster.
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = rebase if necessary
