<?php

$wgDBuser = 'example';
$wgDBpassword = '*';

$wmgCaptchaSecret = '*';
$wmgCaptchaPassword = '*';

$wmgLogstashPassword = '*';

$wmgRedisPassword = '*';

$wmgTranslationNotificationUserPassword = '*';

$wmgVERPsecret = '*';

$wmgZeroPortalApiUserName = 'example';
$wmgZeroPortalApiPassword = '*';

$wmgSwiftEqiadConfig = $wmgSwiftCodfwConfig = [
	'cirrusAuthUrl' => '',
	'cirrusUser' => '',
	'cirrusKey' => '',
];
$wmgSwiftConfig = [
	'eqiad' => $wmgSwiftEqiadConfig,
	'codfw' => $wmgSwiftCodfwConfig,
];
