<?php

$wgDBuser = 'example';
$wgDBpassword = '*';

$wmgCaptchaSecret = '*';
$wmgCaptchaPassword = '*';

$wmgLogstashPassword = '*';

$wmgRedisPassword = '*';

$wmgTranslationNotificationUserPassword = '*';

$wmgVERPsecret = '*';

$wmgZeroPortalApiUserName = 'example';
$wmgZeroPortalApiPassword = '*';

$wmfSwiftEqiadConfig = $wmfSwiftCodfwConfig = [
	'cirrusAuthUrl' => '',
	'cirrusUser' => '',
	'cirrusKey' => '',
	'thumborUser' => '',
	'thumborPrivateUser' => '',
	'thumborUrl' => '',
	'thumborSecret' => '',
];
$wmfSwiftConfig = [
	'eqiad' => $wmfSwiftEqiadConfig,
	'codfw' => $wmfSwiftCodfwConfig,
];
