/* Framework */
body {
	background-color: #f6f6f6;
	background-image: -webkit-linear-gradient(top, #ffffff 2.5em, #f6f6f6 5em);
	background-image: -moz-linear-gradient(top, #ffffff 2.5em, #f6f6f6 5em);
	background-image: linear-gradient(#ffffff 2.5em, #f6f6f6 5em);

	/* Vector: Layout */
	padding-top: 2.5em; /* Like Vector #mw-page-base */
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10em; /* Like Vector .mw-body */

	/* Vector: Larger base size #bodyContent resets */
	font-size: 100%;
}
/* Content */
#bodyContent {
	background-color: white;
	border: 1px solid #a7d7f9;
	border-right-width: 0;
	padding: 1.25em;
	font-size: 0.8em;
	position: relative;
	width: 100%;
	line-height: 1.5em;
}

/* Panel */
#panel {
	position: absolute;
	top: 160px;
	padding-top: 1em;
	width: 10em;
	left: 0;
}
#panel .portal {
	padding-bottom: 1.5em;
}
#panel .portal h5 {
	font-weight: normal;
	color: #444444;
	padding: 0.25em;
	padding-top: 0;
	padding-left: 1.75em;
	margin: 0.25em 0;
	cursor: default;
	border: none;
	font-size: 0.75em;
}
#panel .portal .body {
	margin: 0;
	padding-top: 0.5em;
	margin-left: 1.25em;
	background-image: url(images/portal-break.png);
	background-repeat: no-repeat;
	background-position: top left;
}
#panel .portal .body ul {
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#panel .portal .body ul li {
	line-height: 1.125em;
	padding: 0;
	padding-bottom: 0.5em;
	margin: 0;
	overflow: hidden;
	font-size: 0.75em;
}
#panel .portal .body ul li a {
	color: #0645ad;
}
#panel .portal .body ul li a:visited {
	color: #0b0080;
}
/* Footer */
#footer {
	margin-left: 10em;
	margin-top: 0;
	padding: 0.75em;
}
#footer ul {
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#footer ul li {
	margin: 0;
	padding: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: #333333;
	font-size: 0.7em;
}
#footer #footer-icons {
	float: right;
}
#footer #footer-places {
	float: left;
}
#footer #footer-info li {
	line-height: 1.4em;
}
#footer #footer-icons li {
	float: left;
	margin-left: 0.5em;
	line-height: 2em;
}
#footer #footer-places li {
	float: left;
	margin-right: 1em;
	line-height: 2em;
}
/* Logo */
#p-logo {
	position: absolute;
	top: -160px;
	left: 0;
	width: 10em;
	height: 160px;
}
#p-logo a {
	display: block;
	width: 10em;
	height: 160px;
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none;
}


/* Inline Elements */
hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}
/* Structural Elements */
p {
	margin: .4em 0 .5em 0;
	line-height: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted black;
	color: black;
	background: none;
	cursor: help;
}
code {
	background-color: #f9f9f9;
}
pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
}
ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 0 0 1.5em;
	padding: 0;
}
ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
li {
	margin-bottom: .1em;
}
dt {
	font-weight: bold;
	margin-bottom: .1em;
}
dl {
	margin-top: .2em;
	margin-bottom: 3em;
}
dd {
	line-height: 1.5em;
	margin-bottom: 1em;
	margin-left: 2em;
}
