/* Framework */
body {
	background-color: #f3f3f3;
	background-image: url(images/page-base.png);

	/* Vector: No outer padding */
	padding: 0;
	/* Vector: Larger base size, bodyContent resets */
	font-size: 100%;
}
/* Head */
#page-base {
	height: 2.5em;
	background-color: white;
	background-image: url(images/page-fade.png);
	background-position: bottom left;
	background-repeat: repeat-x;
}
#head-base {
	margin-top: -2.5em;
	margin-left: 10em;
	height: 2.5em;
	background-image: url(images/border.png);
	background-position: bottom left;
	background-repeat: repeat-x;
}
/* Content */
#content-container {
	margin-left: 10em;
	padding: 1em;
	background-image: url(images/border.png);
	background-position: top left;
	background-repeat: repeat-y;
	background-color: white;
}

/* Panel */
#panel {
	position: absolute;
	top: 160px;
	padding-top: 1em;
	width: 10em;
	left: 0;
}
#panel div.portal {
	padding-bottom: 1.5em;
}
#panel div.portal h5 {
	font-weight: normal;
	color: #444444;
	padding: 0.25em;
	padding-top: 0;
	padding-left: 1.75em;
	margin: 0.25em 0;
	cursor: default;
	border: none;
	font-size: 0.75em;
}
#panel div.portal div.body {
	margin: 0;
	padding-top: 0.5em;
	margin-left: 1.25em;
	background-image: url(images/portal-break.png);
	background-repeat: no-repeat;
	background-position: top left;
}
#panel div.portal div.body ul {
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#panel div.portal div.body ul li {
	line-height: 1.125em;
	padding: 0;
	padding-bottom: 0.5em;
	margin: 0;
	overflow: hidden;
	font-size: 0.75em;
}
#panel div.portal div.body ul li a {
	color: #0645ad;
}
#panel div.portal div.body ul li a:visited {
	color: #0b0080;
}
/* Footer */
#footer {
	margin-left: 10em;
	margin-top: 0;
	padding: 0.75em;
	background-image: url(images/border.png);
	background-position: top left;
	background-repeat: repeat-x;
}
#footer ul {
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#footer ul li {
	margin: 0;
	padding: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: #333333;
	font-size: 0.7em;
}
#footer #footer-icons {
	float: right;
}
#footer #footer-places {
	float: left;
}
#footer #footer-info li {
	line-height: 1.4em;
}
#footer #footer-icons li {
	float: left;
	margin-left: 0.5em;
	line-height: 2em;
}
#footer #footer-places li {
	float: left;
	margin-right: 1em;
	line-height: 2em;
}
/* Logo */
#p-logo {
	position: absolute;
	top: -160px;
	left: 0;
	width: 10em;
	height: 160px;
}
#p-logo a {
	display: block;
	width: 10em;
	height: 160px;
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none;
}


/* Content */
#content-container {
	line-height: 1.5em;
}
#bodyContent {
	font-size: 0.8em;
	position: relative;
	width: 100%;
	line-height: 1.5em;
}
#bodyContent table {
	font-size: 100%;
	border: none;
}
#bodyContent td, #bodyContent th {
	border: none;
}
/* Inline Elements */
hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}
/* Structural Elements */
p {
	margin: .4em 0 .5em 0;
	line-height: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted black;
	color: black;
	background: none;
	cursor: help;
}
q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}
code {
	background-color: #f9f9f9;
}
pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
}
tbody.file pre {
     padding: 0;
     border: 0;
     background: transparent;
 }
ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 0 0 1.5em;
	padding: 0;
	list-style-image: url(images/bullet-icon.png);
}
ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
li {
	margin-bottom: .1em;
}
dt {
	font-weight: bold;
	margin-bottom: .1em;
}
dl {
	margin-top: .2em;
	margin-bottom: .5em;
}
dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-bottom: .1em;
}
